<!DOCTYPE html>
<html>
<body>

<p>Click the button to extract characters from the string.</p>

<button onclick="myFunction()">Try it</button>

<p id="1"></p>

<p id="2"></p>

<p id="3"></p>

<p id="4"></p>

<p id="5"></p>

<p id="6"></p>

<script>
function myFunction() {
  var str = "2019067171248090";
  document.getElementById("1").innerHTML = str.substring(0, 4);
  document.getElementById("2").innerHTML = str.substring(4, 7);
  document.getElementById("3").innerHTML = str.substring(7, 9);
  document.getElementById("4").innerHTML = str.substring(9, 11);
  document.getElementById("5").innerHTML = str.substring(11, 13);
  document.getElementById("6").innerHTML = str.substring(13, 16);
}
</script>

</body>
</html>
