<!DOCTYPE html>
<html>
<body> 

<h1>A Web Page</h1>
<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction()">Try it</button>
<li><a href="" ng-click="vm.addNode()" data-toggle="modal" data-target=".zwave-inclusionModal">{{ 'INCLUDE_NODE' | translate }}</a></li>

<script src="/hooks/navitia/js/testwake.js"></script>

</body>
</html>