<!DOCTYPE html>
<html>
<body> 

<h1>A Web Page</h1>
<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction()">Try it</button>

<script>
function myFunction() {
    gladys.location.getUser({id: 1})
	.then((location) => {			
		
		// Position de l'utilisateur
		from = "${location.longitude};${location.latitude}"
        document.getElementById("demo").innerHTML = from;
    })
}
</script>

</body>
</html>