<div id="search" data-ng-controller="BrainCtrl as vm">
    <!-- <button type="button" class="close">×</button> -->
     <form>
         <input id="searchInput" type="search" ng-model="vm.text" ng-keypress="$event.keyCode == 13 && vm.classify(vm.text)"  value="" placeholder="<%= __('search-placeholder') %>" autocomplete="off" />
         <img onclick="MA_FONCTION()" src="../mon_image.jpg" />
        <!-- <button type="submit" class="btn btn-primary">Search</button>-->
     </form>
     <p id="searchResult" ng-model="vm.answer"></p>
 </div>
 
 <script>
 gladys.location.getUser({id: 1})
	.then((location) => {			
		
		// Position de l'utilisateur
		from = `${location.longitude};${location.latitude}`;
		
		return gladys.calendar.getNextEventUser({id: 1})
	})
     </script>
<h3 class="box-title">{{from}}</h3>