<!DOCTYPE html>
<html>
<body> 

<h1>A Web Page</h1>
<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction()">Try it</button>

<script>
function myFunction() {
const Promise = require('bluebird');
var request = require('request');
        
		var url = 'https://82bbc6b2-cc5d-41ac-8572-9c1bf4e48240@api.navitia.io/v1/journeys?from=2.3083896;48.8660048&to=2.301053;48.881376&first_section_mode[]=car'

		request(url, function(err, response, body) {
			result = JSON.parse(body);

			// Affichage du départ et de l'arrivée
			depart = result.journeys[0].departure_date_time.split("T")[1]
            document.getElementById("demo").innerHTML = depart;
	
	})
}
</script>

</body>
</html>