<!DOCTYPE html>
<html>
<body> 

<h1>A Web Page</h1>
<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction()">Try it</button>

<script>
const Promise = require('bluebird');
var request = require('request');

function myFunction() {
    gladys.location.getUser({id: 1})
	.then((location) => {			
		
		// Position de l'utilisateur
		from = "salut"
        document.getElementById("demo").innerHTML = from;
    })
}
</script>

</body>
</html>