<div data-ng-controller="ZwaveCtrl as vm">
    <div class="box skin-box box-default no-border ng-cloak">
        <div class="box-header with-border">
            <h3 class="box-title">Réglage AutoWakeUp</h3>
        </div>
        <div class="box-body">

            <div ng-show="vm.nodesIsEmpty">
                <h4 class="text-center" style="padding: 20px">coucou</h4>
            </div>

            <div class="row" ng-show="!vm.nodesReady && !vm.nodesIsEmpty">
                <div class="col-centered col-md-4 col-md-offset-4">
                    <div class="spinner-box">
                        <div class="spinner">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                    </div>
                </div>
            </div>